<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<h2>About stdio</h2>
		<p>
			stdio is an experiment.  We wanted to make a public forum that was accountable to its contributors and sustained by it's true beneficiaries.  So we made all of the contributors owners with voting rights on administration issues.  Anyone can contribute.  Sign up here and start contributing original content.
		</p>
		<p>
			For the users who find value in the content that they are consuming, and for the content creators who find value in the platform, we ask for contributions enough to simply keep the site running.  We have an extremely lean operating cost.  Want to see what you're paying for?  The finances are published to all of our users.  Note: we only accept Bitcoin.  Never used Bitcoin?  It's easy with Coinbase or Circle.
		</p>

		<h2>How does it work?</h2>
		<p>
			Sign up here and start submitting content.  For now, content is limited to text posts.  As other users comment on and "upvote" (thanks reddit) your content, you are awarded *kismet*.  Kismet is a token, a title to ownership of stdio.  Kismet derives from a Turkish word, it means something like fate. As an owner you now hold the fate of stdio in your hands, treat this place with care.
		</p>
		<p>
			As a holder of kismet, you now have access to the stdio boardroom.  Here you can see the operating budget, a breakdown of the other owners, the treasury, and the scheduled shareholder voting sessions.
		</p>

		<h2>Why the experiment?</h2>
		<p>
			The internet is in the midst of a consumer identity crisis.  Every day an incredible amount of content is produced, traded, and consumed on the web, but we have yet to figure out a smooth way to pay for it.  Our current solution relies on a combination of advertising and wall street investment.  But besides the obvious problems of the insidiousness of advertising and non-sustainability of internet bubbles, third-party revenue sources dilute and poison the original content.  stdio presents a clean platform for original content creators.  Create anything, no outside pressure.
		</p>
		<p>
			The stdio platform requires maintenance, but the true value that our site provides to the consumer comes from the original content creators.  We believe that they should have a say in the way the site is run.  That's why we've turned full ownership over to the content creators.
		</p>
		<h2>Why Bitcoin?</h2>
		<p>
			Bitcoin is the next generation financial tool that makes stdio work.  Our financial transparency is made possible by Bitcoin's open ledger, while our crowd-sourced revenue model relies on digital money's micro-transact-ability.  Our mass ownership title system and shareholder voting system run on Counterparty's Bitcoin 2.0 technology.
		</p>
	<div class="jumbotron">
</section>