<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>{{WelcomeToTheSpot}}</h1>
	</div>

<div class="container">

	<a style="cursor:pointer" ng-click="switchCreateVisible()">
		<i class="glyphicon glyphicon-align-justify"></i>
	</a><-post something

	<div class="col-md-12" >
		<form ng-show="createVisible" name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group"> <!--ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }"-->
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Post</label>
					<div class="controls">
						<textarea placeholder="{{WelcomeToTheSpot}}" name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="5"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Post it!" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div class="container">
	<div class="list-group">
		<span data-ng-repeat="article in articles" class="list-group-item">

<!-- hiding kismet for now
			<span data-ng-bind="article.kismet"></span>
			<a ng-click="kismet(article)">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</a>

--and hiding delete for dev use lol
			<a ng-click="remove(article)">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
-->
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>

			</small>
<!--
			<span data-ng-bind="article._id"></span> -
			<span data-ng-bind="article.parent"></span>
-->
			<a data-ng-href="#!/articles/{{article._id}}">
				<h4  class="list-group-item-heading" data-ng-bind="article.title"></h4>
			</a>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</span>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</div>
</section>
