<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Articles</h1>
	</div>
	<div class="list-group">
		<span data-ng-repeat="article in articles" class="list-group-item">

			<span data-ng-bind="article.kismet"></span>
			<a ng-click="kismet(article)">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</a>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>

			</small>
			<a data-ng-href="#!/articles/{{article._id}}">
				<h4  class="list-group-item-heading" data-ng-bind="article.title"></h4>
			</a>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</span>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</section>
