<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>boardroom</h1>
			</div>
		</div>
		<br>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>Ownership</h2>
			<p>You own {{authentication.user.kismet/10000}}% of stdio</p>
			<a href="/#!/boardroom/owners">Breakdown of ownership</a>
		</div>
		<div class="col-md-3">
			<h2>Expenses</h2>
			<ul>
				<li>Domain: $5</li>
				<li>Server: $2</li>
				<li>DNS: $0.51</li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Issues</h2>
			<ul>
				<li><a href="/#!/boardroom/proposals/:id">Proposal 1</a></li>
				<li><a href="/#!/boardroom/proposals/:id">Proposal 2</a></li>
				<li><a href="/#!/boardroom/proposals/:id">Proposal 3</a></li>
			</ul>
			<p><a href="/#!/boardroom/proposals/:id">Submit a proposal</a></p>
		</div>
		<div class="col-md-3">
			<h2>Voting</h2>
			<p>Quarterly Vote Opens 12/18</p>
		</div>
	</div>
</section>
